<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102523846197-rbg3tphvaa9e19si9rv8qnbfjr0tng3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102523846197-rbg3tphvaa9e19si9rv8qnbfjr0tng3d</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Dkt3zxdFb-jXu_lPQ-t59FJrbWoYAAM</string>
	<key>GCM_SENDER_ID</key>
	<string>102523846197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MessengerApplication</string>
	<key>PROJECT_ID</key>
	<string>messengerapllication</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapllication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102523846197:ios:21d539c35513e3fb7efb7c</string>
	<key>DATABASE_URL</key>
	<string>https://messengerapllication-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>